.background_home {
    background: var(--yellow-gradient);
}

.background_pokedex {
    background: var(--grey-gradient);

}

.background_legendary {
    background: var(--dark-gray);

}

.background_legendary h3 {
    color: #F2F2F2;
}